<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/clientes" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    Clientes
  </button>
  <button mat-button routerLink="/planos" routerLinkActive="active">
    <mat-icon>list_alt</mat-icon>
    Planos
  </button>
  <button mat-button routerLink="/assinaturas" routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
    Assinaturas
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
